.verticalLine {
  border-left: thick solid #ff0000;
}

.scrollable { max-height: 650px; overflow-y: scroll; }

body {
  scrollbar-face-color: #5ab435;
}

.drop-box {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 5px dashed #DDDDDD;
  height: 65px;
  padding-top: 35px;
  text-align: center;
  width: 200px;
}

.image_placeholder {
  width: 200px;
  height: 150px;
  background-color: #B6B6B6;
}

.angular-ratings { overflow: hidden; *zoom: 1; list-style: none; padding: 0; margin: 0; }
.angular-ratings li { float: left; width: 20px; height: 20px; border: 0px solid silver; margin: 0px; text-indent: -500000em;
  background: #cccccc url(angular-star.png) no-repeat; background-size: 100%; }
.angular-ratings li.over { border-color: silver; background-color: white; background-position: 0 -20px; cursor: pointer; }
.angular-ratings li.active { border-color: seagreen; background-color: rgba(63, 167, 54, 0.48); background-position: 0 -20px; }



body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.btn-facebook {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

.btn-facebook:active,
.btn-facebook.active {
  background-color: #0d2456 \9;
}


#screencast-view-container {
  position: absolute;
  border-left: 1px solid #d0d0d0;
  top: 37px;
  left: 300px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  min-height: 200px;
  padding: 5px 25px;

  #player {
    border: 1px solid #000;
    max-width: 200px;
  }
}


ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}


/* Styling for the ngProgress itself */
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: green;
  color: green;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  height: 100px;
  opacity: 0;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}