
<div ng-controller="PlaceCtrl">

  <div infinite-scroll="myPagingFunction()"  infinite-scroll-distance="100" infiniteScrollDisabled = "null">
  </div>
    <div class="large-2 columns ">
        <ul class="side-nav right">
            <h3>Your Interests</h3>
            <% @user_interests.each do |interest| %>
            <li><a ng-click="fetchPlaces(<%=interest.id%>)"><%= interest.name %></a></li>
            <% end %>
            <li class="divider"></li>
          <h3>Other Interests</h3>
            <% @otherInterests.each do |interest| %>
              <li><a ng-click="fetchPlaces(<%=interest.id%>)"><%= interest.name %></a></li>
            <% end %>
        </ul>

    </div>

 <!-- {{interestedPlaces}}-->
<div class="large-10 columns">

  <ul class="pagination">
  <%#= will_paginate @places %>
  </ul>
  <div id="" >
      <div class="masonry masonry-brick">
    <div class="large-12 columns panel radius ">
      <!-- this ng- repeat coz i have added the results in an array-->
      <div ng-repeat="interestedPlace in interestedPlaces">
      <div ng-repeat="place in interestedPlace.modifiedData">

       <div class="masonry_box large-5 columns push-1">
          <div class="large-12 columns">
          <div class="place_header">
              <li><h5 class="subheader" ng-bind="place.place.name"> </h5></li>
              <li class="right"><button class="tiny" ng-click="favourite(place.place)">
                <i class="fi-heart large">&nbsp&nbsp{{place.place.favourite}}</i></button></li>
              <li class="right"></li>
          </div>

          </div>




        <div class="large-12 columns">
         <!-- <ul class="example-orbit" data-orbit>
            <div ng-repeat="ima in place.images">
              <li>
                <img ng-src="{{ima.image.url}}" alt="places photos" />

              <div class="orbit-caption">
                Caption One.
              </div>
              </li>
            </div>
            </ul>
-->       <a ng-href="/places/{{place.place.id}}" target="_blank" data-tooltip class="has-tip" title="click me">
          <img ng-src="{{place.images[0].image.url}}" alt="places photos" />
        </a>
          <p ng-bind="place.place.description">
            <wbr>
          </p>
        </div>
        ..............................
       </div>
      </div>

      </div>
    </div>
      </div>
  </div>

</div>



  <!--<div paginationdirective></div>-->


</div>